name: Build and Push containers to GHCR

#This only runs if changes to decret itself or this workflow are made
on:
  push:
    #Add feature branches here
    branches:
      - main
    paths:
      - decret/decret.py
      - decret/Dockerfile.template
      - .github/workflows/build-and-push.yml

jobs:
  build-and-push:
    runs-on: ubuntu-latest


    #This separates all containers to different jobs
    #To better see errors, and to build containers even
    #if one fails
    strategy:
      fail-fast: false
      matrix:
        include:
          - distro: jessie
            cve: cve-2016-3714
            options: "--directory imagetragick"
          - distro: bullseye
            cve: cve-2014-0160
            options: "--directory heartbleed"
          - distro: bullseye
            cve: cve-2020-7247
            options: "--directory opensmtpd"
          - distro: bullseye
            cve: cve-2023-22809
            options: "--directory sudoedit"

    permissions:
      contents: read
      packages: write  # Needed to push to GHCR

    steps:
      - name: Fetch code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Images
        run: |
          CVE_NAME="${{ matrix.cve }}"
          STRIPPED_CVE="${CVE_NAME#cve-}"
          #Build, tag and push in order
          python3 -m decret.decret -r "${{ matrix.distro }}" -n "$STRIPPED_CVE" ${{ matrix.options }} -s

      - name: Tag and Push Docker Images
        run : | 
          #The username has to be lowercase for GHCR to accept it 
          OWNER_LOWER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          docker tag "${{ matrix.distro }}/${{matrix.cve}}" "ghcr.io/$OWNER_LOWER/decret/${{matrix.cve}}:latest"
          docker push "ghcr.io/$OWNER_LOWER/decret/${{matrix.cve}}:latest"

